/* *********************************************************************************************************************
	One% CSS Grid - 12 Columns Fluid CSS Grid System

	Why One% ? Let’s count ...
		we have 12 columns (magic number divided by 2, 3, 4, 6)

		for 12 columns we need 11 margins

		so if we count margin 3%, then 3% * 11 margins = 33%

		and if we count width of 1 column 5.5%, than 5.5% * 12 columns = 66%

		in the end we have 33% + 66% = 99% aaand ???

		1% is still here so that's the name - One%

	2 starting options ? Let’s count a bit more ...
		1200px - perfectly fits 1280 screens
			12 columns
			margin 3% / 36px (full-width)
			col1 5.5% / 66px (full-width)

		1000px - perfectly fits 1024 screens
			12 columns
			margin 3% / 30px (full-width)
			col1 5.5% / 55px (full-width)
*/
/* *********************************************************************************************************************
 * Main container for all
 */
/* line 37, ../sass/style.scss */
.onepcssgrid-1000, .onepcssgrid-1200 {
  margin: 0 auto;
  padding: 0 0 0 1%;
  /* THAT'S THE NAME ;) */
}

/* line 42, ../sass/style.scss */
.onepcssgrid-1200 {
  max-width: 1220px;
}

/* line 46, ../sass/style.scss */
.onepcssgrid-1000 {
  max-width: 1020px;
}

/* line 50, ../sass/style.scss */
.onerow {
  clear: both;
  padding: 0 10px;
}

/* *********************************************************************************************************************
 * Common columns definitions
 */
/* line 62, ../sass/style.scss */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  float: left;
  margin: 0 3% 0 0;
}

/* line 67, ../sass/style.scss */
.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
  margin: 0;
}

/* line 71, ../sass/style.scss */
.col1 {
  width: 5.5%;
}

/* line 72, ../sass/style.scss */
.col2 {
  width: 14%;
}

/* line 73, ../sass/style.scss */
.col3 {
  width: 22.5%;
}

/* line 74, ../sass/style.scss */
.col4 {
  width: 31%;
}

/* line 75, ../sass/style.scss */
.col5 {
  width: 39.5%;
}

/* line 76, ../sass/style.scss */
.col6 {
  width: 48%;
}

/* line 77, ../sass/style.scss */
.col7 {
  width: 56.5%;
}

/* line 78, ../sass/style.scss */
.col8 {
  width: 65%;
}

/* line 79, ../sass/style.scss */
.col9 {
  width: 73.5%;
}

/* line 80, ../sass/style.scss */
.col10 {
  width: 82%;
}

/* line 81, ../sass/style.scss */
.col11 {
  width: 90.5%;
}

/* line 82, ../sass/style.scss */
.col12 {
  width: 99%;
  margin: 0;
}

/* line 84, ../sass/style.scss */
.col1 img, .col2 img, .col3 img, .col4 img, .col5 img, .col6 img, .col7 img, .col8 img, .col9 img, .col10 img, .col11 img, .col12 img {
  width: 100%;
  height: auto;
  display: block;
}

/* *********************************************************************************************************************
 * Disable padding left/right 10px if I'm 1024 or gibber - correct percentage math
 */
@media all and (min-width: 1024px) {
  /* line 98, ../sass/style.scss */
  .onepcssgrid-1000 {
    max-width: 1000px;
  }

  /* line 102, ../sass/style.scss */
  .onepcssgrid-1000 .onerow {
    padding: 0;
  }
}
/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 768px) {
  /* line 118, ../sass/style.scss */
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
    float: none;
    width: 99%;
  }
}
/* ============================================================ */
/* Base */
/* ============================================================ */
/* line 136, ../sass/style.scss */
html, body {
  height: 100%;
}

/* line 138, ../sass/style.scss */
body {
  background: url("../img/bg.png");
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

/* line 145, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 33px;
  text-transform: none;
  color: #f1f3f5;
}

/* line 151, ../sass/style.scss */
h1 {
  font-size: 26px;
}

/* line 152, ../sass/style.scss */
h2 {
  font-size: 24px;
}

/* line 153, ../sass/style.scss */
h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

/* line 154, ../sass/style.scss */
h4 {
  font-size: 18px;
  margin-bottom: 18px;
}

/* line 155, ../sass/style.scss */
h5 {
  font-size: 16px;
  margin-bottom: 15px;
}

/* line 156, ../sass/style.scss */
h6 {
  font-size: 14px;
  margin-bottom: 12px;
}

/* line 158, ../sass/style.scss */
p {
  line-height: 1.8;
  margin: 0 0 30px;
}

/* line 163, ../sass/style.scss */
a {
  color: #c2c5cc;
  text-decoration: none;
}

/* line 168, ../sass/style.scss */
ul, ol {
  list-style-position: inside;
  line-height: 1.8;
  margin: 0 0 40px;
  padding: 0;
}
/* line 174, ../sass/style.scss */
ul ul, ul ol, ol ul, ol ol {
  margin: 10px 0 0 20px;
}
/* line 176, ../sass/style.scss */
ul li, ol li {
  margin: 0 0 10px;
}
/* line 179, ../sass/style.scss */
ul li:last-of-type, ol li:last-of-type {
  margin-bottom: 0;
}

/* line 183, ../sass/style.scss */
blockquote {
  border-left: 1px dotted #d9dadb;
  margin: 40px 0;
  padding: 5px 30px;
}
/* line 188, ../sass/style.scss */
blockquote p {
  color: #AEADAD;
  display: block;
  font-style: italic;
  margin: 0;
  width: 100%;
}

/* line 197, ../sass/style.scss */
img {
  display: block;
  margin: 40px 0;
  width: auto;
  max-width: 100%;
}

/* line 204, ../sass/style.scss */
pre {
  background: #F1F0EA;
  border: 1px solid #DDDBCC;
  border-radius: 3px;
  margin: 0 0 40px;
  padding: 15px 20px;
}

/* line 212, ../sass/style.scss */
hr {
  border: none;
  border-bottom: 1px dotted #303030;
  margin: 45px 0;
}

/* line 218, ../sass/style.scss */
table {
  margin-bottom: 40px;
  width: 100%;
}
/* line 223, ../sass/style.scss */
table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #f7f7f3;
}
/* line 227, ../sass/style.scss */
table th {
  padding: 0 10px 10px;
  text-align: left;
}
/* line 232, ../sass/style.scss */
table td {
  padding: 10px;
}
/* line 234, ../sass/style.scss */
table tr {
  border-bottom: 1px dotted #AEADAD;
}

/* line 237, ../sass/style.scss */
::selection {
  background: #FFF5B8;
  color: #000;
  display: block;
}

/* line 243, ../sass/style.scss */
::-moz-selection {
  background: #FFF5B8;
  color: #000;
  display: block;
}

/* line 249, ../sass/style.scss */
.fluid-width-video-wrapper {
  margin-bottom: 40px;
}

/* line 251, ../sass/style.scss */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

/* line 258, ../sass/style.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ============================================================ */
/* General Appearance */
/* ============================================================ */
/* line 269, ../sass/style.scss */
.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1200px;
}

/* line 276, ../sass/style.scss */
#wrapper {
  height: auto;
  min-height: 100%;
  /* This must be the same as the height of the footer */
  margin-bottom: -265px;
}
/* line 282, ../sass/style.scss */
#wrapper:after {
  content: "";
  display: block;
  /* This must be the same as the height of the footer */
  height: 265px;
}

/* line 290, ../sass/style.scss */
.button {
  background: #d9dadb;
  border: none;
  border-radius: 3px;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 12px;
  text-transform: uppercase;
}
/* line 300, ../sass/style.scss */
.button:hover {
  background: #c2c5cc;
}

/* line 303, ../sass/style.scss */
.button-square {
  background: #c2c5cc;
  color: #FFF;
  float: left;
  font-size: 17px;
  margin: 0 0 0 10px;
  padding: 3px 8px 4px;
}
/* line 311, ../sass/style.scss */
.button-square:hover {
  background: #d9dadb;
}

/* ============================================================ */
/* Site Header */
/* ============================================================ */
/* line 318, ../sass/style.scss */
.site-header {
  padding: 55px 0 0;
  overflow: auto;
  text-align: center;
  text-transform: uppercase;
  background: url(../img/header.png);
  min-height: 768px;
}

/* line 327, ../sass/style.scss */
.site-title-wrapper {
  display: table;
  margin: 10% auto 0 auto;
  background: none;
}

/* line 332, ../sass/style.scss */
.titlebox {
  background: rgba(24, 25, 27, 0.95);
}

/* line 335, ../sass/style.scss */
.site-title {
  float: left;
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  padding: 10px 20px 12px;
}
/* line 343, ../sass/style.scss */
.site-title a {
  float: left;
  background: none;
  color: white;
  padding: 5px 10px 6px;
}
/* line 349, ../sass/style.scss */
.site-title a:hover {
  color: #d9dadb;
}

/* line 352, ../sass/style.scss */
.site-logo {
  display: block;
  margin: 0 auto;
  opacity: .8;
}
/* line 357, ../sass/style.scss */
.site-logo img {
  margin: 0 auto;
  width: auto;
}

/* line 360, ../sass/style.scss */
.site-logo:hover {
  opacity: 1.0;
}

/* line 363, ../sass/style.scss */
.descbox {
  background: none;
  width: 97.5%;
  font-size: 25px;
  letter-spacing: 3px;
  text-transform: none;
  color: #26282e;
  margin-left: none;
  text-align: right;
  float: left;
  line-height: auto;
  font-family: volkhov;
  font-style: italic;
}

/* line 378, ../sass/style.scss */
.site-nav {
  list-style: none;
  margin: 28px 0 10px;
  text-align: right;
}

/* line 384, ../sass/style.scss */
.site-nav-item {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin: 0 10px;
}
/* line 390, ../sass/style.scss */
.site-nav-item a:hover {
  color: #808997;
}

/* ============================================================ */
/* Post */
/* ============================================================ */
/* line 397, ../sass/style.scss */
code, kbd, pre, samp {
  background: #2b2c2e;
  border: #1e1f22;
  color: #929496;
}

/* line 403, ../sass/style.scss */
#latest-post {
  display: none;
}

/* line 405, ../sass/style.scss */
.post-container {
  margin: 0 40px;
  width: 56.5%;
  float: right;
}

/* line 407, ../sass/style.scss */
.post-header {
  border-bottom: 6px solid #d9dadb;
  margin: 0 0 50px;
  padding: 0 0 80px;
  text-align: center;
  text-transform: uppercase;
}

/* line 416, ../sass/style.scss */
.post-title,
.page-title {
  font-size: 52px;
  font-weight: 700;
  margin: 15px 0;
  text-align: center;
  text-transform: uppercase;
}

/* line 424, ../sass/style.scss */
.page-title {
  margin: 15px 40px;
}

/* line 427, ../sass/style.scss */
.post-date,
.blog-description {
  color: #AEADAD;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin: 25px 0 0;
}
/* line 434, ../sass/style.scss */
.post-date:after,
.blog-description:after {
  border-bottom: 1px dotted #d9dadb;
  content: "";
  display: block;
  margin: 40px auto 0;
  width: 100px;
}

/* line 443, ../sass/style.scss */
.post-content {
  padding: 35px;
  background: #34363b;
  color: #dddee0;
}
/* line 447, ../sass/style.scss */
.post-content a:hover {
  border-bottom: 1px dotted #c2c5cc;
}
/* line 451, ../sass/style.scss */
.post-content:last-child {
  margin-bottom: 0;
}

/* line 454, ../sass/style.scss */
.post-footer {
  margin-top: 5px;
}

/* line 457, ../sass/style.scss */
.post-tags,
.share {
  color: #AEADAD;
  font-size: 14px;
}
/* line 461, ../sass/style.scss */
.post-tags span,
.share span {
  font-weight: 600;
}
/* line 463, ../sass/style.scss */
.post-tags a:hover,
.share a:hover {
  color: #d9dadb;
}

/* line 466, ../sass/style.scss */
.post-tags {
  float: left;
  margin: 3px 0 0;
}

/* line 471, ../sass/style.scss */
.share {
  float: right;
}
/* line 474, ../sass/style.scss */
.share a {
  background: #c2c5cc;
  color: #FFF;
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
  padding: 5px 0 4px;
  width: 30px;
  text-align: center;
}
/* line 485, ../sass/style.scss */
.share a:hover {
  background: #d9dadb;
}

/* line 488, ../sass/style.scss */
.post-navigation {
  display: table;
  margin: 70px auto 100px;
}

/* line 494, ../sass/style.scss */
.newer-posts,
.older-posts {
  float: left;
  background: #c2c5cc;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
  padding: 5px 10px 6px;
  text-transform: uppercase;
}
/* line 504, ../sass/style.scss */
.newer-posts:hover,
.older-posts:hover {
  background: #d9dadb;
}

/* line 509, ../sass/style.scss */
.page-number {
  display: none;
}

/* ============================================================ */
/* Post Index */
/* ============================================================ */
/* line 515, ../sass/style.scss */
.post-list {
  border-top: 6px solid #d9dadb;
  list-style: none;
  margin: 80px 40px 0;
  padding: 35px 0 0;
}

/* line 522, ../sass/style.scss */
.post-stub {
  border-bottom: 1px dotted #d9dadb;
  margin: 0;
  position: relative;
}
/* line 527, ../sass/style.scss */
.post-stub:first-child {
  padding-top: 0;
}
/* line 529, ../sass/style.scss */
.post-stub a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
  color: #424242;
  padding: 20px 5px;
}
/* line 537, ../sass/style.scss */
.post-stub a:hover {
  background: #FCF5F5;
  color: #c2c5cc;
  padding: 20px 12px;
}
/* line 542, ../sass/style.scss */
.post-stub a:hover .post-stub-tag {
  background: #c2c5cc;
}

/* line 547, ../sass/style.scss */
.post-stub-tag {
  background: #d9dadb;
  border-radius: 3px;
  color: #FFF;
  float: right;
  font-size: 10px;
  margin: 7px 0 0;
  padding: 0 5px;
  text-transform: uppercase;
}

/* line 558, ../sass/style.scss */
.post-stub-title {
  display: inline-block;
  margin: 0;
  text-transform: none;
}

/* line 564, ../sass/style.scss */
.post-stub-date {
  display: inline-block;
}
/* line 567, ../sass/style.scss */
.post-stub-date:before {
  content: "/ ";
}

/* line 571, ../sass/style.scss */
.next-posts-link a,
.previous-posts-link a {
  display: block;
  padding: 8px 11px;
}

/* ============================================================ */
/* Footer */
/* ============================================================ */
/* line 580, ../sass/style.scss */
.footer {
  background: #d9dadb;
  color: #D3D3D3;
  height: 265px;
  margin-top: 95px;
  overflow: auto;
}
/* line 587, ../sass/style.scss */
.footer .site-title-wrapper {
  margin: 80px auto 35px;
}
/* line 590, ../sass/style.scss */
.footer .site-title a:hover,
.footer .button-square:hover {
  background: #121212;
}
/* line 594, ../sass/style.scss */
.footer .button-jump-top {
  font-size: 23px;
  line-height: 1.1;
  padding-top: 1px;
}

/* line 601, ../sass/style.scss */
.footer-copyright {
  color: #656565;
  font-size: 14px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 608, ../sass/style.scss */
.footer-copyright a {
  color: #656565;
  font-weight: 700;
}
/* line 612, ../sass/style.scss */
.footer-copyright a:hover {
  color: #FEFEFE;
}

/* ============================================================ */
/* NProgress */
/* ============================================================ */
/* line 620, ../sass/style.scss */
#nprogress .bar {
  background: #c2c5cc;
}

/* line 622, ../sass/style.scss */
#nprogress .peg {
  box-shadow: 0 0 10px #c2c5cc, 0 0 5px #c2c5cc;
}

/* line 624, ../sass/style.scss */
#nprogress .spinner-icon {
  border-top-color: #c2c5cc;
  border-left-color: #c2c5cc;
}

/* ============================================================ */
/* Media Queries */
/* ============================================================ */
@media only screen and (max-width: 800px) {
  /* line 634, ../sass/style.scss */
  .post-stub-tag {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  /* line 638, ../sass/style.scss */
  .site-nav-item {
    display: block;
    margin: 15px 0;
  }

  /* line 643, ../sass/style.scss */
  .post-stub-title {
    display: block;
  }

  /* line 645, ../sass/style.scss */
  .post-stub-date:before {
    content: "";
    display: block;
  }

  /* line 651, ../sass/style.scss */
  .post-container,
  .post-list {
    margin-right: 25px;
    margin-left: 25px;
  }

  /* line 656, ../sass/style.scss */
  .post-tags {
    width: 100%;
  }

  /* line 658, ../sass/style.scss */
  .share {
    float: left;
    margin-top: 20px;
  }
  /* line 662, ../sass/style.scss */
  .share a {
    margin: 0 5px 0 0;
  }
}
@media only screen and (max-width: 400px) {
  /* line 669, ../sass/style.scss */
  .post-title {
    font-size: 32px;
  }

  /* line 672, ../sass/style.scss */
  .post-container,
  .post-list {
    margin-right: 15px;
    margin-left: 15px;
  }
}
